@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/utilities/utilities' as *;

.btn {
  @include m.button-base;
  @extend .text-center;
  border: none;
  background: v.$black-dark;
  color: v.$white;
  font-size: v.$font-size-base;

  &:hover:not(:disabled) {
    background: v.$color-primary-dark;
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    @extend .cursor-not-allowed;
    @extend .shadow-none;
    background-color: v.$gray-200;
    opacity: 0.6;

    &:hover {
      transform: none;
    }
  }

  &--primary {
    background: v.$color-text-primary;
    color: v.$white;
  }

  &--secondary {
    background: v.$color-primary;
    color: v.$white;
  }

  &--outline {
    background: transparent;
    border: v.$border-width-base solid v.$color-text-primary;
    color: v.$color-text-primary;

    &:hover:not(:disabled) {
      background: v.$color-text-primary;
      color: v.$white;
    }
  }

  &--full-width {
    @extend .w-100;
  }

  &--small {
    height: 2.75rem;
    padding: v.$spacing-3 v.$spacing-6;
    font-size: v.$font-size-sm !important;
  }

  &--large {
    height: 4rem;
    padding: v.$spacing-5 v.$spacing-10;
    font-size: v.$font-size-lg;  
  }
}