@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.btn {
  @include m.button-base;
  border: none;
  background: v.$color-text-primary;
  color: v.$white;
  font-size: v.$font-size-md;
  font-weight: v.$font-weight-bold;
  text-align: center;
  line-height: normal;

  &:hover:not(:disabled) {
    background: v.$color-primary-dark;
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    background-color: v.$gray-200;
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  &--primary {
    background: v.$color-text-primary;
    color: v.$white;
  }

  &--secondary {
    background: v.$color-primary;
    color: v.$white;
  }

  &--outline {
    background: transparent;
    border: v.$border-width-base solid v.$color-text-primary;
    color: v.$color-text-primary;

    &:hover:not(:disabled) {
      background: v.$color-text-primary;
      color: v.$white;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--small {
    height: 2.75rem;
    padding: v.$spacing-3 v.$spacing-6;
    font-size: v.$font-size-sm;  // Solo sobreescribe el tamaño
  }

  &--large {
    height: 4rem;
    padding: v.$spacing-5 v.$spacing-10;
    font-size: v.$font-size-lg;  // Solo sobreescribe el tamaño
  }
}