@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use '../../../styles/utilities/utilities' as *;

.hero {
  min-height: calc(100vh - 80px);
  @extend .position-relative;
  @extend .overflow-hidden;
  @extend .pb-10;


  @include m.desktop {
    padding: v.$spacing-16 0;
  }

  &__container {
    @include m.container;
    position: relative;
    z-index: 1;
  }

  &__logo {
    margin-top: 47px;
    margin-bottom: 40px;
    max-width: 83px;

    @include m.desktop {
      margin-bottom: 88px;
      max-width: none;
    }
  }

  &__grid {
    @include m.grid-12;
    align-items: start;
    grid-template-columns: 1fr; 
    gap: v.$spacing-10;

    @include m.desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__content {
    @extend .position-relative;
    grid-column: 1 / -1; // mobile

    @include m.desktop {
      grid-column: 1 / 8;
    }
  }

  &__form-wrapper {
    grid-column: 1 / -1;
    @extend .d-flex;
    @extend .justify-center; // mobile

    @include m.desktop {
      grid-column: 9 / 13;
      justify-content: flex-end;
    }
  }

  &__title {
    @extend .mb-6;
    @extend .position-relative;

    @include m.desktop {
      margin-bottom: v.$spacing-8;
    }
  }

  &__title-decoration {
    @extend .position-relative;
    @extend .d-inline-block;
    z-index: 0;

    &::before {
      @extend .position-absolute;
      @extend .d-inline-block;
      content: "";
      width: 104%;
      height: 1.875rem;
      background-color: v.$color-primary-light;
      border-radius: v.$spacing-5;
      z-index: -1;
      left: -0.3125rem;
      bottom: 0; // mobile default

      @include m.desktop {
        bottom: 0.75rem;
      }
    }
  }

  &__description {
    font-size: v.$font-size-base; // mobile
    @extend .mb-6;

    strong {
      @extend .font-weight-bold;
    }

    @include m.desktop {
      font-size: v.$font-size-md;
    }
  }

  &__conditions-link {
    @extend .bg-transparent;
    @extend .border-none;
    @extend .text-primary;
    font-size: v.$font-size-base; // mobile
    @extend .font-weight-medium;
    @extend .text-decoration-underline;
    @extend .cursor-pointer;
    @extend .p-0;
    font-family: v.$font-primary;
    transition: color v.$transition-base;
    @extend .d-inline-block;
    @extend .mt-4;

    &:hover {
      color: v.$color-primary-dark;
    }

    @include m.desktop {
      font-size: v.$font-size-md;
    }
  }

  &__arrow {
    @extend .d-none; // mobile hidden
    @extend .position-absolute;
    right: -3.75rem;
    bottom: -3.75rem;
    z-index: 0;

    @include m.desktop {
      display: block;
    }

    img {
      @extend .d-block;
    }
  }
}
