@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use '../../styles/utilities/utilities' as *;

.select {
  @extend .d-flex;
  @extend .flex-column;
  @extend .gap-1;
  @extend .position-relative;

  &__label {
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-medium;
    color: v.$color-text-secondary;
  }

  &__wrapper {
    @extend .position-relative;
  }

  &__field {
    @include m.form-field-base;
    @extend .cursor-pointer;
    padding-right: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }

    option[value=""][disabled] {
      color: v.$color-text-secondary;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
    }


    &:valid {
      color: v.$color-text-primary;
    }
  }

  &__icon {
    @extend .position-absolute;
    @extend .pe-none;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: v.$color-text-primary;
    width: 12px;
    height: 16px;
  }

  &__error {
    @extend .mt-1;
    @extend .text-error;
    font-size: v.$font-size-xs;
  }
}