@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.select {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-1;
  position: relative;

  &__label {
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-medium;
    color: v.$color-text-secondary;
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    width: 100%;
    height: 50px;
    padding: 14px 40px 14px 16px;
    border: 2px solid v.$color-text-primary;
    border-radius: 8px;
    cursor: pointer;
    transition: all v.$transition-base v.$easing-in-out;
    appearance: none; // Quita la flecha por defecto
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none; // Quita la flecha en IE
    }

    // Color del placeholder (primera opción disabled)
    option[value=""][disabled] {
      color: v.$color-text-secondary;
    }


    &:focus {
      outline: none;
      border-color: v.$color-text-primary;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
    }

    &--error {
      border-color: v.$color-error;
    }

 

    // Cuando tiene un valor seleccionado
    &:valid {
      color: v.$color-text-primary;
    }
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: v.$color-text-primary;
    width: 12px;
    height: 16px;
  }

  &__error {
    font-size: v.$font-size-xs;
    color: v.$color-error;
    margin-top: v.$spacing-1;
  }
}