@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  @include m.flex-center;
  z-index: v.$z-index-modal;
  padding: v.$spacing-4;
  animation: fadeIn 0.2s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__content {
    background: v.$white;
    border-radius: v.$radius-md;
    max-width: 95%;
    width: 100%;
    max-height: 80vh;
    position: relative;
    animation: slideUp 0.3s ease-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3.375rem 0 0 0;

    @include m.desktop {
      border-radius: v.$radius-md;
      max-width: 44.6875rem;
      max-height: 70vh;
    }

    @keyframes slideUp {
      from {
        opacity: 0;
        transform: translateY(1.875rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__close {
    position: absolute;
    top: v.$spacing-4;
    right: v.$spacing-4;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    color: v.$color-text-primary;
    transition: background-color v.$transition-fast;
    padding: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    @include m.desktop {
      top: v.$spacing-5;
      right: v.$spacing-5;
    }
  }

  &__header {
    position: sticky;
    top: 0;
    background: v.$white;
    z-index: 5;
    padding: v.$spacing-5 v.$spacing-5 v.$spacing-2;

    @include m.desktop {
      padding: 0 v.$spacing-16 v.$spacing-10 v.$spacing-16;
    }
  }

  &__body {
    margin: v.$spacing-5 v.$spacing-5 v.$spacing-4;
    font-size: v.$font-size-md;
    color: v.$color-text-primary;
    overflow-y: auto;
    flex: 1;
    font-family: v.$font-primary;
    scrollbar-width: thin;

    @include m.desktop {
      margin: 0 v.$spacing-16 v.$spacing-10 v.$spacing-16;
    }

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #838383;;
      border-radius: 6px;
    }
    

    strong {
      font-weight: v.$font-weight-bold;
      color: v.$color-text-primary;
    }
  }

  &__title {
    font-family: v.$font-primary;
    font-size: 1rem;
    font-weight: v.$font-weight-bold;
    color: v.$color-text-primary;
    line-height: 1.3;
    margin-bottom: v.$spacing-4;
    padding-right: v.$spacing-6;

    @include m.desktop {
      font-size: v.$font-size-3xl;
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  &__section {
    margin-bottom: v.$spacing-3;

    @include m.desktop {
      margin-bottom: v.$spacing-4;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      margin-bottom: v.$spacing-1;
      color: v.$color-text-primary;
      line-height: 1.4;
      font-size: 0.6875rem;

      @include m.desktop {
        font-size: inherit;
      }
    }
  }

  &__footer {
    padding: v.$spacing-6 v.$spacing-20;
    background: v.$color-bg-modal-footer;
    text-align: center;
    font-size: 0.6875rem;
    flex-shrink: 0;
    border-radius: 0 0 v.$radius-md v.$radius-md;
    line-height: 1.5;

    @include m.desktop {
      font-size: v.$font-size-xs;
    }

    p {
      margin: 0;
      color: v.$color-text-primary;
      font-family: v.$font-primary;
      line-height: 1.5;
    }

    strong,
    a {
      font-weight: v.$font-weight-bold;
      color: v.$color-text-primary;
    }

    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}