@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use '../../styles/utilities/utilities' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: v.$white;
  z-index: v.$z-index-header;

  &__top-bar {
    @extend .d-none;
    background: v.$black;
    padding: v.$spacing-2 0;

    @include m.desktop {
      display: block;
    }
  }

  &__top-container {
    @include m.container;
    @extend .d-flex;
    @extend .justify-end;
    @extend .align-center;
    gap: v.$spacing-4;
  }

  &__top-text {
    font-family: v.$font-primary;
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-regular;
    color: v.$white;
    margin: 0;
  }

  &__top-phone {
    @extend .d-flex;
    @extend .align-center;
    @extend .transition-base;
    gap: v.$spacing-2;
    background: v.$color-primary;
    color: v.$black;
    padding: v.$spacing-1 v.$spacing-4;
    border-radius: v.$spacing-5;
    font-family: v.$font-primary;
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-semibold;
    text-decoration: none;

    &:hover {
      background: v.$color-primary-dark;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__main {
    background: v.$white;
    box-shadow: v.$shadow-base;
    padding: v.$spacing-3 0;

    @include m.desktop {
      padding: v.$spacing-4 0;
    }
  }

  &__container {
    @include m.container;
    @include m.flex-between;
    align-items: center;
    padding: 0 v.$spacing-4;

    @include m.desktop {
      padding: 0;
    }
  }

  &__logo {
   max-width: 110px
  }

  &__nav {
    @extend .d-none;
    @extend .align-center;
    gap: v.$spacing-8;

    @include m.desktop {
      display: flex;
    }
  }

  &__link {
    @extend .d-flex;
    @extend .align-center;
    @extend .transition-base;
    font-size: v.$font-size-sm;
    color: v.$color-text-primary;
    text-decoration: none;
    font-weight: v.$font-weight-medium;
    font-family: v.$font-primary;
    gap: v.$spacing-1;

    &:hover {
       font-weight: v.$font-weight-bold;
    }

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &__login-btn {
    @extend .d-none;

    @include m.desktop {
      display: inline-flex;
    }
  }

  &__menu-toggle {
    @extend .d-flex;
    @extend .flex-column;
    @extend .cursor-pointer;
    background: none;
    border: none;
    padding: v.$spacing-2;
    gap: v.$spacing-1;

    @include m.desktop {
      display: none;
    }

    span {
      @extend .d-block;
      @extend .transition-base;
      width: 1.5rem;
      height: 2px;
      background-color: v.$color-text-primary;
    }
  }
}
